header {
    background-color: #343a40; /* gray */
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
  }
  
  header h1 {
    margin: 0;
    font-size: 2.5em;
  }
  
  header nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  header nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  header nav ul li a {
    color: #ffffff;
  }
  